<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{rrequest.params.title if rrequest.params.title else 'API Console'}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {% block linkDefinitions %}
    {% endblock %}

    <style>
      {% block styleDefinitions %}
      {% endblock %}

    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
  </head>

  <body class="root">

    {% block navbar %}
    {% endblock %}

    <div class="container-fluid">
      {% block main %}
      {% endblock %}
    </div>

    <script src="/static/lib/require-jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>

    {% block moreScripts %}
    {% endblock %}

  </body>
</html>