{% extends "base.html" %}
{% from 'breadcrumbs-macro.html' import render_breadcrumbs %}
{% from 'nav-macro.html' import render_navbar %}

{% block navbar %}
  {{ render_navbar (brand=rrequest.params.brand, links=rrequest.params.nav_links) }}
{% endblock %}

{% block main %}
  {{ render_breadcrumbs(crumbs=rrequest.params.breadcrumbs) }}

  <h1>Glass Notifications <small>Route your Android notifications to Glass.</small></h1>
  <br/>
  <div class="row-fluid">
    <div class="span10 well well-large">
      <h4>Console</h4>
        <ul>
            <li><a href='/oauthSetup'>Basic OAuth Setup</a></li>
            <li><a href='/addToTimeLine'>Add Notification to Timeline</a></li>
            <li><a href='#'>Manage your notifications</a></li>
        </ul>
    </div>
  </div>
{% endblock %}